* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.todo {
  display: flex;
}
.todo_checkbox:checked + .textTask {
  text-decoration: line-through;
  color: gray;
}
.ff {
  display: none;
}
